body{
    height: 100vh;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav{
    display: flex;
    justify-content: space-around;
    padding: 1rem;
    border: solid 2px red;
}

#logo{
    display: flex;
   
 
}


/*Links*/

#links ul{
    list-style: none; 
    display: flex;
    flex-direction: row;
    gap: 8px;
}

button {
    border: none;
}



