*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}


body {
    font-family: "Roboto Mono", monospace;
    text-align: center;
    background-image: url("https://caelum-online-public.s3.amazonaws.com/assets-imersaodev/Background.png");
    background-color: #000000;
    background-size: cover;
    background-position: center top;
    background-repeat: no-repeat;
    height: 100vh;
  }
  
  .container {
    text-align: center;
    padding: 20px;
  }
  
  .page-title {
    color: #ffffff;
    margin: 0 0 5px;
  }
  
  .page-subtitle {
    color: #ffffff;
    margin-top: 5px;
  }
  
  .page-logo {
    width: 200px;
  }
  
  .alura-logo {
    width: 40px;
    position: absolute;
    top: 10px;
    right: 10px;
  }
  
  body > img {
    margin: 0 10px;
  }
  
  img {
    max-height: 250px;
  }

  /*Aprimorar*/

  .resultadoEmBitcoin{
    text-align: center;
    color: white;
    border-radius: 5px;
    
  }

  .form-conversor{
    color: white;
    width: 300px;
    margin: auto;
    
  }

  .form-conversor button{
    background: #0066A2;
    color: white;
    border-style: outset;
    border-color: #0066A2;
    border-radius: 8%;
    height: 50px;
    width: 100px;
    font: arial,sans-serif;
    text-shadow: none;
   
  }

  .form-conversor button:hover {
    background: #016ABC;
  }

  



